@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .overflow-anchor-auto {
        overflow-anchor: auto
    }

    .overflow-anchor-none {
        overflow-anchor: none
    }
}

.body {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}